<html>
    <head>
        <title>
            index page
        </title>
    </head>
    <body><center>
        
        <form enctype="multipart/form-data" action="" method="post"> 
            {% csrf_token %}
            <input type="file"  name="my_uploaded_file"/>
            <br><br>
            <input type="checkbox" id="stats" name="stats" value="stats">
            <label for="stats">Statistics</label>
            <br>
            <input type="submit" value="Submit" />
        </form>
        </center>
    </body>
</html>