<html>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
<table style="width:100%">
        <thead>
      <tr>
        <th>Name of the column</th>
        <th>Count</th>
        <th>mean</th>
        <th>standard deviation</th>
        <th>Min</th>
        <th>25%</th>
        <th>50%</th>
        <th>75%</th>
        <th>Max</th>
        
      </tr>
    </thead>
        {% for k,v in data.items %}
      <tr>
        <td>{{k}}</td>
        {%for i in v%}
        <td>{{i}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
  </table>
</body>
</html>
  